* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.hoja {
    width: 812px;
    background-color: white;
    border: 1px solid black;
    padding: 40px 30px 20px 30px;
}

.contenedor-1 {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
    box-shadow: 4px 4px 0px black;
}

.contenedor-2 {
    width: 100%;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
    /* line-height: 1.4; */
    box-shadow: 4px 4px 0px black;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    display: inline-block;
    padding: 5px;
}

.col1 { width: 8.33%; }
.col2 { width: 16.66%; }
.col3 { width: 25%; }
.col4 { width: 33.33%; }
.col5 { width: 41.66%; }
.col6 { width: 50%; }
.col7 { width: 58.33%; }
.col8 { width: 66.66%; }
.col9 { width: 75%; }
.col10 { width: 83.33%; }
.col11 { width: 91.66%; }
.col12 { width: 100%; }

.escudo { width: 90%; }

input {
    border: none;
    font-size: 18px;
    padding: 2px 5px 2px 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

.input_ { border-bottom: 1px solid black; }

.circulo {
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 5px 8px 5px 8px;
    font-size: 10px;
}

.p10 { padding: 10px; }

.px0 {
    padding-left: 0px;
    padding-right: 0px;
}
.px {
    padding-left: 25px;
    padding-right: 25px;
}
.py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.py1 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.borde { border: 1px solid black; }
.borde-arriba { border-top: 1px solid black; }
.borde-abajo { border-bottom: 1px solid black; }
.borde-izq { border-left: 1px solid black; }
.borde-der { border-right: 1px solid black; }

.fuente8 { font-size: 8px; }
.fuente9 { font-size: 9px; }
.fuente10 { font-size: 10px; }
.fuente11 { font-size: 11px; }
.fuente12 { font-size: 12px; }

.sin-padding { padding: 0px; }

.contenedor-tabla { border-radius: 10px; }

.centrado { text-align: center; }

p { margin-top: 4px; }

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

thead th {
    background-color: rgb(211, 235, 249);
    padding: 3px;
}


.input-mes {
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: 20px;
}

.input-anio {
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: 40px;
}

.input-tiempo {
    padding: 1px 3px 1px 3px;
    text-align: center;
    width: 70px;
}

.azulado {
    background-color: rgb(211, 235, 249);
}

.textarea {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}


@media print {

    body {
        background-color: white;
        padding-top: 0px;
    }

    .hoja {
        width: 100%;
        border: none;
    }

}
